* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

body {
  background-color: #16181D;
  font-family: "Maven Pro", serif;
}

.hero {
  background: url(/img/Background_Intro.png) center/cover no-repeat;
  margin-bottom: 162px;
  margin-top: 120px;
}

.hero__avatar img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  margin-bottom: 56px;
}

.hero__acquaintance {
  color: #C0C4CE;
  margin-bottom: 8px;
}

.hero__proffesion {
  color: #E2E4E9;
  margin-bottom: 20px;
}

.hero__text {
  color: #878EA1;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.hero__wrapper {
  text-align: center;
}

.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 90px;
}
.hero__buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292C34;
  border: none;
  border-radius: 30px;
  padding: 8px 20px;
  gap: 8px;
}
.hero__buttons button p {
  color: #C0C4CE;
}

.hero__DoubleDown {
  margin: 0 auto;
}

.examples {
  margin-bottom: 144px;
}

.examples__text {
  font-family: "Inconsolata", monospace;
  color: #E3646E;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.examples__title {
  color: #E2E4E9;
  text-align: center;
  font-family: "Asap", sans-serif;
  margin-bottom: 56px;
  font-size: 24px;
}

.examples__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  margin: 0 auto;
  gap: 24px;
}
.examples__wrapper h4 {
  color: #E2E4E9;
  margin-bottom: 8px;
}
.examples__wrapper p {
  color: #C0C4CE;
}
.examples__wrapper > div {
  background-color: #292C34;
  max-width: 330px;
  max-height: 280px;
  padding: 12px;
  border-radius: 12px;
  padding-bottom: 21px;
}
.examples__wrapper img {
  margin-bottom: 20px;
}

.help {
  padding-bottom: 120px;
  background-color: #0D0E11;
  padding-top: 80px;
}

.help__text {
  font-family: "Inconsolata", monospace;
  color: #E3646E;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.help__title {
  color: #E2E4E9;
  text-align: center;
  font-family: "Asap", sans-serif;
  margin-bottom: 56px;
  font-size: 24px;
}

.help__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.help__wrapper > div {
  padding: 20px;
  width: 280px;
  border-radius: 12px;
  border: 1px solid #16181D;
}
.help__wrapper h5 {
  color: #E2E4E9;
  margin-bottom: 8px;
}
.help__wrapper p {
  color: #C0C4CE;
}

.contacts {
  background: url(/img/Background_Contacts.png) center/cover no-repeat;
  margin-top: 128px;
  padding-bottom: 200px;
  background-position-y: -200px;
}

.contacts__text-top {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  text-align: center;
  color: #BB72E9;
  margin-bottom: 8px;
}

.contacts__title {
  font-family: "Asap", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #E2E4E9;
  margin-bottom: 8px;
}

.contacts__text-bottom {
  text-align: center;
  color: #C0C4CE;
  margin-bottom: 48px;
}

.contacts__contacts {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.contacts__contacts > div {
  background-color: #292C34;
  display: flex;
  border-radius: 8px;
}
.contacts__contacts > div img {
  margin-right: 20px;
}
.contacts__contacts > div p {
  color: #C0C4CE;
}

.contacts__wrapper {
  display: flex;
  min-width: 350px;
  gap: 12px;
  padding: 20px;
}