.contacts {
    background: url(/img/Background_Contacts.png) center / cover no-repeat;
    margin-top: 128px;
    padding-bottom: 200px;
    background-position-y: -200px;
}
.contacts__text-top {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    text-align: center;
    color: $color-purple;
    margin-bottom: 8px;
}
.contacts__title{
    font-family: "Asap", sans-serif;
    font-size: 20px;
    text-align: center;
    color: $gray-600;
    margin-bottom: 8px;
}
.contacts__text-bottom {
    text-align: center;
    color: $gray-500;
    margin-bottom: 48px;
}
.contacts__contacts {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
     & > div{
            background-color: $gray-300;
            display: flex;
            border-radius: 8px;
        img{
           margin-right: 20px;
        }
        p{
            color: $gray-500;
        }
    }
}
.contacts__contacts {
    & > div:hover{
        cursor: pointer;
        border: 1px solid $color-purple;
        transform: scale(110%);
    }
}

.contacts__wrapper{
    display: flex;
    min-width: 350px;
    gap: 12px;
    padding: 20px;
}
